<div class="row" style="background-color: #009999">
    <div class="col-md-12">
       <p><strong>Skills</strong></p> 
    </div>
</div>
<template ngFor let-service [ngForOf]="services">
    <div class="col-md-4" style="background-color:#b3ffff">
        <span><strong>{{service.service}}</strong></span>
    </div>
</template>
<br>
<br>
<div class="col-md-4">
    <template ngFor let-skillweb [ngForOf]="webskills">
        <span>{{skillweb.skillname}}</span><br>
    </template>
</div>
<div class="col-md-4">
    <template ngFor let-skilldatabase [ngForOf]="databaseskills">
        <span>{{skilldatabase.skillname}}</span><br>
    </template>
</div>
<div class="col-md-4">
    <template ngFor let-skillservice [ngForOf]="serviceskills">
        <span>{{skillservice.skillname}}</span><br>
    </template>
</div>
<br>
<br>
